[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = An app showcasing Flutter components, with side-by-side source code view.
[access "refs/*"]
	owner = group user/primespace
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/primespace
	label-Verified = -1..+1 group user/primespace
	push = group user/primespace
	read = group user/primespace
	rebase = group user/primespace
	removeReviewer = group user/primespace
	submit = group user/primespace
[access "refs/heads/*"]
	create = group user/primespace
	push = +force group user/primespace
	pushMerge = group user/primespace
	read = group user/primespace
[access "refs/tags/*"]
	push = group user/primespace
	push = +force group user/primespace
